body {
	position: relative;
	min-height: 100svh;
	background-color: var(--bg-clr-main);
	color: var(--text-clr-main);
	font-family: var(--body-font);
	font-size: var(--text-size-base);
	line-height: 1.5;

	main {
		padding-block: 0 var(--spacing-3xl);
	}
}

section,
article,
.container {
	background-color: var(--bg-clr-main);
	color: var(--text-clr-main);
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: 700;
}

img {
	object-fit: cover;
}

/* BUTTONS */

button,
input[type="submit"],
a.btn {
	/* BUTTON THEME DEFAULT */
	--btn-bg: var(--color-brand-500);
	--btn-label: var(--color-neutral-50);

	display: grid;
	place-content: center;
	padding: var(--spacing-2xs) var(--spacing-s);
	background-color: var(--btn-bg);
	color: var(--btn-label);
	border-radius: var(--border-radius);
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	transition: var(--transition);
	width: max-content;
}

/* TYPOGRAPHY */

.text-sm {
	font-size: var(--text-size-sm);
	line-height: var(--leading-relaxed);
}

.text-base {
	font-size: var(--text-size-base);
	line-height: var(--leading-normal);
}

.text-lg {
	font-size: var(--text-size-lg);
	line-height: var(--leading-normal);
}

.text-xl {
	font-size: var(--text-size-xl);
	line-height: var(--leading-snug);
}

.text-2xl {
	font-size: var(--text-size-2xl);
	line-height: var(--leading-snug);
}

.text-3xl {
	font-size: var(--text-size-3xl);
	line-height: var(--leading-tight);
}

.text-4xl {
	font-size: var(--text-size-4xl);
	line-height: var(--leading-tight);
}

/* UTILITIES */

.pill {
	background-color: var(--dark-grey);
	color: var(--white);
	width: fit-content;
	border-radius: var(--border-radius);
	padding: var(--padding-xs) var(--padding-md);
}

.hide {
	display: none;
}
