body > header,
body > main,
body > footer {
	.container {
		max-width: var(--max-width-xl);
		padding-inline: var(--spacing-s-m);
		margin-inline: auto;
	}

	.row {
		display: flex;
		gap: var(--spacing-m) var(--spacing-s);
		/* margin: 0 var(--spacing-s); */

		&.wrap {
			flex-wrap: wrap;
		}
	}

	/* .grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
} */

	.grid {
		display: grid;
		gap: var(--spacing-m) var(--spacing-s);

		&.col-2 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.col-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.col-sm {
			grid-template-columns: repeat(
				auto-fill,
				minmax(var(--max-width-xs), 1fr)
			);
		}

		&.align-rows {
			grid-auto-rows: auto;

			> .grid {
				grid-template-rows: subgrid;

				.row-4 & {
					grid-row: span 4;
				}
			}
		}
	}
}
