@import "variables.css";

html {
    font-size: var(--body-font-size);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
}
body {
    line-height: 1.5;
    font-family: var(--body-font);
    background-color: var(--text-color-white);
}

input,
button,
textarea,
select {
    font: inherit;
}
button,
input[type="submit"] {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    font-family: var(--body-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-family: var(--body-font);
}

a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--body-font);
    font-weight: 700;
}
li {
    list-style: none;
    font-family: var(--body-font);
    font-weight: 700;
}
h1,
h2 {
    color: var(--white);
}

.container {
    width: 100%;
    padding-right: var(--padding-base);
    padding-left: var(--padding-base);
    margin-inline: auto;
    max-width: var(--max-width-xl);
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: var(--margin-base-negative);
        margin-left: var(--margin-base-negative);
    }
}

.card {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: 0.5px solid var(--light-grey);
    max-width: var(--max-width-sm);
    transition: var(--transition);
    &:hover {
        box-shadow: var(--box-shadow-md);
    }
    img {
        background-color: white;
        padding: var(--padding-base);
        max-height: 20rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
