* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

input,
button,
textarea,
select {
	font: inherit;
}

button,
input[type="submit"] {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	text-align: inherit;
	border-radius: 0;
	appearance: none;
}

li {
	list-style: none;
}
