/* data themes */

body {
	--bg-clr-main: none;
	--text-color-main: var(--color-neutral-800);
	--text-clr-error: var(--color-error-600);
}

header,
footer,
nav,
aside,
section,
article,
.container {
	background-color: var(--bg-clr-main);
	color: var(--text-clr-main);

	&[data-theme="primary"] {
		--bg-clr-main: var(--color-brand-400);
		--text-clr-main: var(--color-neutral-50);
	}

	&[data-theme="dark"] {
		--bg-clr-main: var(--color-neutral-900);
		--text-clr-main: var(--color-neutral-50);
	}

	&[data-theme="card"] {
		--bg-clr-main: var(--color-neutral-50);
		--text-clr-main: var(--color-neutral-800);
		--border-clr: var(--color-neutral-300);
	}
}

button,
input[type="submit"],
a.btn {
	&[data-theme="primary"] {
		--btn-bg: var(--color-brand-700);
		--btn-label: var(--color-neutral-50);

		&:hover {
			--btn-bg: var(--color-brand-400);
		}
	}
	&[data-theme="secondary"] {
		--btn-bg: var(--color-neutral-900);
		--btn-label: var(--color-neutral-50);

		&:hover {
			--btn-bg: var(--color-neutral-800);
		}
	}

	&[data-theme="none"] {
		--btn-bg: transparent;
		--btn-label: var(--color-neutral-900);
		&:hover {
			--btn-label: var(--color-neutral-600);
		}
	}
	&[data-theme="buhovershakeyflipexplode"] {
		--btn-bg: var(--color-neutral-50);
		--btn-label: var(--color-neutral-900);

		&:hover {
			--btn-bg: var(--color-neutral-200);
		}
	}
}
