/* data themes */

body {
	--bg-clr-main: none;
	--text-color-main: var(--color-neutral-800);
}

header,
footer,
nav,
section,
article,
.container {
	background-color: var(--bg-clr-main);
	color: var(--text-clr-main);

	&[data-theme="primary"] {
		--bg-clr-main: var(--color-brand-400);
		--text-clr-main: var(--color-neutral-50);
	}

	&[data-theme="dark"] {
		--bg-clr-main: var(--color-neutral-900);
		--text-clr-main: var(--color-neutral-50);
	}

	&[data-theme="card"] {
		--bg-clr-main: var(--color-neutral-50);
		--text-clr-main: var(--color-neutral-800);
		--border-clr: var(--color-neutral-300);
	}
}

button,
input[type="submit"],
a.btn {
	&[data-theme="primary"] {
		--btn-bg: var(--color-brand-500);
		--btn-label: var(--color-neutral-50);

		&:hover {
			--btn-bg: var(--color-brand-400);
		}
	}
	&[data-theme="secondary"] {
		--btn-bg: var(--color-neutral-900);
		--btn-label: var(--color-neutral-50);

		&:hover {
			--btn-bg: var(--color-neutral-800);
		}
	}
}
