@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--brand-color: #ff69b4;
	--dark-grey: #1c162e;
	--grey: #3e4051;
	--light-grey: #9095ae;

	--off-white: #d6e1e9;
	--white: #f7f7f8;

	/* PRIMITIVE COLORS */

	--color-brand-50: oklch(0.959 0.025 345.91);
	--color-brand-100: oklch(0.927 0.046 346.44);
	--color-brand-200: oklch(0.849 0.1 348.04);
	--color-brand-300: oklch(0.786 0.149 349.76);
	--color-brand-400: oklch(0.728 0.197 352.01);
	--color-brand-500: oklch(0.666 0.249 357.08);
	--color-brand-600: oklch(0.616 0.249 2.5);
	--color-brand-700: oklch(0.495 0.2 1.99);
	--color-brand-800: oklch(0.375 0.152 0.5);
	--color-brand-900: oklch(0.235 0.096 356.46);
	--color-brand-950: oklch(0.157 0.065 352.83);

	--color-neutral-50: oklch(0.958 0.008 294.09);
	--color-neutral-100: oklch(0.915 0.016 293.82);
	--color-neutral-200: oklch(0.829 0.035 294.83);
	--color-neutral-300: oklch(0.745 0.055 294.71);
	--color-neutral-400: oklch(0.661 0.073 294.64);
	--color-neutral-500: oklch(0.575 0.09 294.29);
	--color-neutral-600: oklch(0.484 0.101 293.78);
	--color-neutral-700: oklch(0.396 0.082 293.6);
	--color-neutral-800: oklch(0.307 0.066 294.68);
	--color-neutral-900: oklch(0.221 0.046 293.78);
	--color-neutral-950: oklch(0.181 0.038 294.36);

	--color-error-50: oklch(0.95 0.021 6.71);
	--color-error-100: oklch(0.909 0.038 7.9);
	--color-error-200: oklch(0.81 0.087 11.05);
	--color-error-300: oklch(0.727 0.131 14.96);
	--color-error-400: oklch(0.653 0.177 19.8);
	--color-error-500: oklch(0.596 0.213 25.42);
	--color-error-600: oklch(0.519 0.196 25.39);
	--color-error-700: oklch(0.42 0.156 23.18);
	--color-error-800: oklch(0.315 0.112 20.08);
	--color-error-900: oklch(0.212 0.067 15.44);
	--color-error-950: oklch(0.141 0.04 6.11);

	/* TYPOGRAPHY */

	--text-color-white: white;
	--text-color-black: #202020;

	--body-font: "Poppins", sans-serif;
	/* --base-font-size: 16px; */

	/* CREDIT: @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--text-size-sm: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
	--text-size-base: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
	--text-size-lg: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
	--text-size-xl: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
	--text-size-2xl: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
	--text-size-3xl: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
	--text-size-4xl: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);

	--leading-tight: 1.1;
	--leading-snug: 1.3;
	--leading-normal: 1.5;
	--leading-relaxed: 1.625;

	--border-radius: 0.5rem;

	--max-width-xs: 264px;
	--max-width-sm: 320px;
	--max-width-md: 600px;
	--max-width-lg: 992px;
	--max-width-xl: 1240px;

	/* SPACING */
	--padding-xs: 0rem;
	--padding-sm: 0.5rem;
	--padding-md: 0.7rem;
	--padding-base: 1rem;
	--margin-base: 1rem;

	--padding-base-negative: 1rem;
	--margin-base-negative: 1rem;
	--transition: all 200ms ease;

	/* CREDIT: @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--spacing-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
	--spacing-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
	--spacing-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
	--spacing-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
	--spacing-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
	--spacing-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
	--spacing-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
	--spacing-3xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem);

	/* One-up pairs */
	--spacing-xs-s: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
	--spacing-s-m: clamp(1rem, 0.7609rem + 1.1957vw, 1.6875rem);
	--spacing-m-l: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
	--spacing-l-xl: clamp(2rem, 1.5217rem + 2.3913vw, 3.375rem);
	--spacing-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
	--spacing-2xl-3xl: clamp(4rem, 3.0435rem + 4.7826vw, 6.75rem);

	/* EFFECTS */

	--box-shadow-md: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
