header {
    --content-width: 1120px;
    padding: 0.75rem 0;
    cursor: default;

    h1,
    h2 {
        color: var(--text-color-black);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: end;
        max-width: var(--content-width);
        margin: auto;
    }

    #auth,
    #public {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        p {
            color: oklch(
                from var(--brand-color) calc(l - 0.1) calc(c + 0.15) h
            );
            font-weight: 600;
        }

        &.hide {
            display: none;
        }
    }
}
