body > header {
	padding: var(--spacing-m) 0;
	cursor: default;

	.container {
		justify-content: space-between;
		align-items: end;
	}

	#auth,
	#public {
		display: flex;
		gap: 0.75rem;
		align-items: center;

		p {
			color: oklch(
				from var(--brand-color) calc(l - 0.1) calc(c + 0.15) h
			);
			font-weight: 600;
		}

		&.hide {
			display: none;
		}
	}
}
