main {
  max-width: 1120px;
  margin: auto;
  padding: 2rem;
}

#userList {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 0.75rem;
}

span.error {
  color: var(--brand-color);
  font-size: 0.9rem;
}

form {
  display: grid;
  gap: 1rem 0;
  padding: 2.5rem 3rem;
  margin: 1rem auto;
  max-width: 500px;
  border: 1px solid var(--brand-color);

  legend {
    font-size: 1.45rem;
    font-weight: 600;
  }

  label {
    display: grid;
    gap: 0.25rem 1rem;

    input {
      padding: 0.15rem 0.5rem;
    }

    input.error {
      border: 1px solid var(--brand-color);
    }
  }

  a.userReset {
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 0.9rem;
    transition: color 0.15s ease-in;

    &:hover {
      color: var(--light-grey);
    }
  }
}

button {
  display: grid;
  place-content: center;
  padding: 0.5rem 0.25rem;
  background-color: var(--brand-color);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-color-white);
  cursor: pointer;
  transition: opacity 0.15s ease-in;

  &:hover {
    opacity: 0.9;
  }
}

.hide {
  display: none;
}
