body > header {
    position: sticky;
    z-index: 15;
    .header-top {
        align-items: center;
        justify-content: space-between;
        padding-block: var(--spacing-s-m);
    }

    .header-actions {
        align-items: center;
        justify-content: flex-end;
        gap: var(--spacing-s);
    }

    .brand {
        display: inline-flex;
        align-items: center;
        max-width: 10rem;
        @media (max-width: 600px) {
            max-width: var(--max-width-4xs);
        }
    }
    .userTag {
        @media (max-width: 600px) {
            display: none;
        }
    }

    #shoppingCartOpenButton:hover,
    #closeBtn {
        background: var(--neutral-100);
    }

    a.btn {
        text-transform: none;
    }

    #shoppingCart {
        --bg-clr-main: var(--color-neutral-50);
        --border-clr: var(--color-neutral-200);
        border: 1px solid var(--border-clr);

        display: grid;
        grid-template-rows: 1fr auto;
        gap: var(--spacing-m);

        width: 100%;
        max-width: var(--max-width-md);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(var(--max-width-md));
        transition: transform 0.75s ease-out;
        &.open {
            transform: translateX(0);
        }
        padding: var(--spacing-l) var(--spacing-2xl);
        box-shadow: var(--box-shadow-md);

        header {
            display: flex;
            gap: var(--spacing-2xs);
            align-items: center;

            #closeBtn {
                padding: 0;
            }
        }

        .removeProductBtn {
            padding-inline: 0;
            place-content: start;
            place-self: start;

            &:hover {
                --btn-label: var(--color-error-600);
            }
        }

        p.empty,
        ul {
            margin: var(--spacing-l) 0;
        }

        ul li {
            position: relative;

            li + & {
                margin-block-start: var(--spacing-l);
            }

            img {
                object-fit: contain;
                aspect-ratio: 1/1;
                max-width: var(--max-width-4xs);
            }

            article {
                display: grid;
                grid-template-rows: 1fr auto;

                h3 {
                    line-height: var(--text-size-lg);
                }

                footer {
                    justify-content: space-between;
                    align-items: end;

                    p {
                        font-size: var(--text-size-base);
                        font-weight: 500;
                    }

                    .counter {
                        display: flex;

                        button {
                            &:first-child {
                                border-radius: var(--border-radius) 0 0
                                    var(--border-radius);
                            }
                            &:last-child {
                                border-radius: 0 var(--border-radius)
                                    var(--border-radius) 0;
                            }
                        }

                        input {
                            max-width: 3em;
                            text-align: center;
                            border: 1px solid var(--border-clr);
                            /* border-radius: var(--border-radius); */
                            color: var(--text-clr-main);
                        }
                    }
                }
            }
        }

        footer {
            display: grid;
            gap: var(--spacing-2xs);

            p {
                display: flex;
                justify-content: space-between;
                cursor: default;
            }

            .bold {
                font-weight: 600;
            }
        }
    }
}

nav {
    position: sticky;
    @media (max-width: 600px) {
        position: relative;
    }
    top: 0;
    z-index: 10;
    ul:not(#breadcrumbscontainer) {
        list-style: none;
        padding-block: var(--spacing-xs-s);
        justify-content: start;
        a {
            font-weight: 500;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            padding-block: var(--margin-base);
            gap: var(--margin-base);
            li {
                width: 100%;
                text-align: center;
            }
            li:not(:last-child):after {
                display: block;
                content: "";
                width: 100%;
                margin-top: var(--margin-base);
                height: 1px;
                background-color: var(--color-brand-200);
            }
        }
    }
}
