body > header {
	cursor: default;

	#auth,
	#public {
		display: flex;
		gap: 0.75rem;
		align-items: center;

		p {
			color: oklch(
				from var(--brand-color) calc(l - 0.1) calc(c + 0.15) h
			);
			font-weight: 600;
		}

		&.hide {
			display: none;
		}
	}
}
.site-header .header-top {
	align-items: center;
	justify-content: space-between;
	padding-block: var(--spacing-s-m);
}

.site-header .header-actions {
	align-items: center;
	justify-content: flex-end;
	gap: var(--spacing-s);
}

.brand {
	display: inline-flex;
	align-items: center;
	max-width: 10rem;
}

.cart:hover {
	background: var(--neutral-100);
}

a.btn {
	text-transform: none;
}

.navstrip {
	background: var(--dark-grey);
}

.navlinks {
	list-style: none;
	padding-block: var(--spacing-xs-s);
	justify-content: start;

	&.row {
		gap: var(--spacing-xl);
	}
}

.navlinks a {
	color: var(--text-color-white);
	font-weight: 500;
}
