@import "../variables.css";

.hero {
    background:
    var(--hero-overlay),
    url('../../assets/images/hero.png');
    height: calc(var(--spacing-3xl)*5);
    display: flex;
    background-position: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    article {
        font-size: var(--text-size-sm);
        color: var(--color-neutral-50);
        div {
            display: flex;
            gap: var(--padding-base);
        }
        header {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (min-width: 600px )
{
.hero {
    justify-content: start;
    /* padding: 10rem; */
    /* padding: var(--spacing-3xl); */



    article {
        width: 100%;
        color: var(--color-neutral-50);
        div {
            margin-top: calc(var(--margin-base)*2);
            display: flex;
            gap: var(--padding-base);
        }
        max-width: var(--max-width-xl);
        padding-inline: var(--spacing-s-m);
        margin-inline: auto;
    }
}
}

@media (min-width: 1240px )
{
.hero {
    article {
        width: 100%;
        color: var(--color-neutral-50);
        div {
            margin-top: calc(var(--margin-base)*2);
            display: flex;
            gap: var(--padding-base);
        }
        max-width: var(--max-width-xl);
        padding-inline: var(--spacing-s-m);
        margin-inline: auto;
    }
}
}

