.single-product {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4rem;
	padding-block: var(--spacing-xl);
	@media (min-width: 992px) {
		grid-template-columns: 1fr 1fr;
	}
	.image-wrapper {
		img {
			margin: auto;
			max-height: 15rem;
			width: auto;
			@media (min-width: 600px) {
				max-height: 25rem;
			}
		}
	}
	.info-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		.title,
		.category {
			color: var(--text-color-black);
		}
		.add-to-cart-wrapper {
			margin-block: auto 4rem;
			display: flex;
			justify-content: space-between;
		}
	}
}
